Source: remi
Maintainer: Matthias Urlichs <matthias@urlichs.de>
Section: python
Priority: optional
Build-Depends: dh-python, python3-setuptools, python3-all, debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: https://github.com/dddomodossola/remi

Package: python3-remi
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}
Description: Python REMote Interface library
 [![Build Status](https://travis-ci.com/dddomodossola/remi.svg?branch=master)](https://travis-ci.com/dddomodossola/remi)
 .
 <p align="center">
     <img src="https://raw.githubusercontent.com/dddomodossola/remi/development/remi/res/logo.png" width="430">
 </p>
 .
 <h2 align="center" style="font-weight:bolder">
     GUI library for your Python applications
 </h2>
 .
 <p align="center" style="white-space:pre">
 Remi is a GUI library for Python applications that gets rendered in web browsers. 
 This allows you to access your interface locally and remotely.
 </p>
 .
 Do you need support?
 <p align="center">
 <a href="https://www.reddit.com/r/RemiGUI" style="font-size:25px">Reddit - (subreddit RemiGUI)</a>
 </p>
 .

